#menuBG {
    width:400px;
    height:470px;
    margin:10px auto;
}

#frmMenu {
    width:600px;
    height:200px;
    margin:auto;
}

#totalPrice {
    width:200px;
    height:190px;
    margin:20px auto;
    float:right;
}

.left {
    width:200px;
    height:200px;
    float:left;
}

.middle {
    width:200px;
    height:200px;
    float:left;
}

.right {
    width:200px;
    height:200px;
    float:right;
}

#showText {
    width:200px;
    height:190px;
    margin:0px auto;
    float:left;
}

#cart {
    top:0;
    margin:0px auto;
    width:400px;
    height:200px;
}

#btnOrder {
    margin:10px 0px 0px 100px;
    width:100px;
    height:40px;
    display: block;
    margin: 25px auto;
}

body {
    background-color:rgb(172, 237, 240);
    opacity: 1;
    transition: 3s opacity;
}

body.fade-out {
    opacity: 0;
    transition:none;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blueviolet;
    text-align: center;
    font-size:10vw;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:crimson;
}

div {
    font-family: 'Times New Roman', Times, serif;
    color: coral;
}

/* Popup form - hidden by default */
.form-popup {
    display: none;
    position:fixed;
    bottom:0;
    right:15px;
    border: 5px solid black;
    z-index:9;
}